<!-- Basic Meta -->
<meta charset="utf-8"/>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- Custom Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      type="text/css">

<!-- Custom CSS -->
<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">

<!-- SEO -->
<meta name="keywords" content="">
<meta property="og:keywords" content="">
<meta name="description" content="">
<meta property="og:description" content="">
<meta property="title" content="">


<!--{% if page.excerpt %}-->
<!--<meta name="description" content="{{ page.excerpt| strip_html }}"/>-->
<!--<meta property="og:description" content="{{ page.excerpt| strip_html }}"/>-->
<!--{% else %}-->
<!--<meta name="description" content="{{ site.description }}">-->
<!--<meta property="og:description" content="{{ site.description }}"/>-->
<!--{% endif %}-->
<!--<meta name="author" content="{{ site.name }}"/>-->

<!--{% if page.title %}-->
<!--<meta property="og:title" content="{{ page.title }}"/>-->
<!--<meta property="twitter:title" content="{{ page.title }}"/>-->
<!--{% endif %}-->