<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}">Anu Ramaswami</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/news-and-media">News & Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/publications">Publications</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="collaboratorsDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Collaborators
          </a>
          <div class="dropdown-menu" aria-labelledby="collaboratorsDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/collaborators/students-and-postdoc">Current Students and Post Docs</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/collaborators/research-policy-partnerships">Research and Policy Partnerships</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/collaborators/advisory-boards">Professional Societies and Advisory Boards</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="projectsDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/projects/us">US Projects</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/projects/international">International Projects</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/projects/global-city-data">Global City Data</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/projects/city">City Projects</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/projects/leif">LEIF</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>